extends layout
head
 style.
   #butt{}
body
block content
  h1  Регистрация 
   form(method='post', action='/reg')
    h4 Введите ваш логин:
    input(type='text', name='username')
    br
    h4 Введите ваш пароль:
    input(type='password', name='password')
    input#butt(type='submit', value='ok')
 
